@inherits LayoutComponentBase

<Navbar />
    <div class="body-app">
        @Body
    </div>
<Tabbar />

<style>
    .body-app {
        height: calc(100vh - var(--tabbar-height) - var(--navbar-height));
    }
</style>