<style>
    .narbar {
        height: var(--navbar-height);
        position: sticky;
        z-index: 10;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 18px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    }
</style>

<navbar>
    <div class="narbar bg-app-primary text-white">
        <h4 class="m-0 p-0 text-center">FreshVegCart test</h4>
        <i class="bx bx-user bx-sm"></i>
    </div>
    
</navbar>

@code {

}
