@page "/"
@using FreshVegCart.App.Apis
@using FreshVegCart.Shared.Dtos
@inject IProductApi ProductApi
<h1>Hello, world!</h1>

Welcome to your new app.
<ul>
    @foreach (var product in products)
    {
        <li>
            @product.Name
        </li>
    }
</ul>


@code {

    ProductDto[] products = [];
    protected override async Task OnInitializedAsync()
    {
        products = await ProductApi.GetProductsAsync();
    }

}